.footer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 10px;
    background-color: #dadada;
}
.content h5{
    margin: 0px 0px 40px 0px;
}
.content h6{
    margin: 0px 0px 25px 0px;
    font-size: .7rem;
    font-weight: 100;
    line-height: 40px;
}
.content input{
    padding: 20px;
}
.soicalIcon{
    width: 200px;
    height: 50px;
    border: 1px solid black;
    display: flex;
}

.icon{
    width: 50px;
    height: 100%;
    border: 1px solid black;
}
.copyright{
    text-align: center;
    padding: 0;
    background-color: #dadada;
}